/*
:root {
  --translate-x: 0px;
  --translate-y: 0px;
  --rotateX: 0deg;
}

.translate {
  transform: translate(var(--translate-x), var(--translate-y)) rotate(var(--rotateX)) ;
}
*/

#root .game-container {
    padding: 0;
}

#root .game-container .game-table {
    padding: 0.5rem;
    margin: 0;
}

.table .seat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: .67rem;
    box-sizing: border-box;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    margin: .67rem;   
    background-color: #f0f0f0;
}

.table .left,
.table .left-1,
.table .left-2 {
  rotate: 90deg
}

.table .right,
.table .right-1,
.table .right-2 {
  rotate: 270deg
}

.game-table {
    width: 100%;
    height: 100%;
    background: darkslategray;
    padding: .5rem;
}   

.game-table .active {
    background-color: lightgoldenrodyellow;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: anchor-center;
    align-items: center;
}

.game-card,
.reveal-cards .game-card{
    width: 4.5rem;
    min-width: 4.5rem;
    height: 6rem;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align:center;
    margin: .5rem;
    background-color: white;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 1s;
    transform-origin: center;
    padding: 0;
/*    backface-visibility: hidden;  */
    transform-style: preserve-3d;
    transform: translate(var(--translate-x), var(--translate-y)) rotate(var(--rotateX)) ;
}

.game-card .back,
.game-card .front {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;   
    align-content: center;
    justify-items: center;
}

.game-card .front {
    z-index: 1;
    backface-visibility: hidden;  
}

.game-card.human.selected .front{
    background-color:#cce3f7
}

.game-card.trio {
    transform:rotateY(180deg);
}

.move-to-trio {
    background-color: orange;
    transition: transform 3s ease rotateX(720deg) --translateVal;
}

.game-card.trio.human {
    transform:rotateY(0);
}

.game-card .back {
    transform: rotateY(180deg);  
}

.game-card.selected.human {
    transform: rotateY(360deg);
}

.game-card.selected {
    transform: rotateY(180deg) perspective(30px);
}

.item-rank-count {
    width: 9px;
    background-color: RED;
    height: 8px;
    margin: 1px;
    float: left;
}

.rank-image img {
    width: unset;
    height: 80%;
}

.count-container {
    width: 100%;
}

.col-2 img {
    width: 100%;
    height: auto;
}

.game-card .seven {
    background-image: url('/stars.png');
    background-size: .75em .75em;
}

.game-card img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

img.card-front-image {
    height: 80%;
    width: 80%;
    border-radius: .4rem;
}

.reveal-cards-section {
    margin: 3rem 0;
}

.reveal-cards .game-card.hidden {
    opacity: 0.10;
}

.reveal-trio-cards-section .reveal-cards-section {
    margin: 4rem 0;
}

.game-card .tmp {
    position: absolute;
    top: .2rem;
    left: .2rem;
    font-size: .8rem;
    color: black;
}
.game-card.selectable:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.game-card.selected {
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.2);
}
.game-card {
    float: left;
}

.game-card.active-player {
    border-color: gold;
    box-shadow: 0 0 1.0rem gold;
}   

.reveal-cards {
    align-content: center;
}

.game-card.selectable {
    border-color: #cce3f7;
    background-color: #f3f7fa;
}  

.game-card.selected {
    border-color: #b4ffcd;
    background-color: #ceffde;
}  

.game-card.overlap {
    margin-right: -3rem;
}

.trios-container.left,
.trios-container.right {
    justify-content: center;
}

.trios-container {
    font-size: 0.8rem;
}

.trios.top,
.trios.bottom {
    min-height: 7rem;
    height: 7rem;
    width: 100%;
}

.trioSet {
    display: block;
    float: left;
    width: fit-content;
}

.trioSet .game-card {
    height: 4rem;
    width: 3rem;
    min-width: 3rem;;
    font-size: 1.5rem;
}

.trios.bottom .trioSet,
.trios.top .trioSet {
    width: fit-content;
    margin: 0;
}

.players-name {
    color: white;
    text-shadow: 0 0 5px black;
    margin: 0;
    text-align: center;
}   

.rank-with-image {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    font-size: 0.8rem;
    color: black;
    z-index: 2;
}

@keyframes dealCard2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(var(--dx), var(--dy)) scale(1.2);
  } 
  50% {
    transform: translate(var(--dx), var(--dy)) scale(1.4);
  } 
  75% {
    transform: translate(var(--dx), var(--dy)) scale(1.2);
  } 
  100% {
    transform-origin: center;
    transform: translate(var(--dx), var(--dy)) scale(1);
  }
}

.sele {
  transition: transform .1s ease;  /* was 0.5s  */
  animation: dealCard2 .1s ease-out forwards; /* was 0.6s  */
}

/*
.leftSide {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.vertical .game-card {
    transform: rotate(90deg);
}   

.upper-row,
.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/