#root .game-container {
    padding: 0;
}


.table .seat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: .67rem;
    box-sizing: border-box;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    margin: .67rem;   
    background-color: #f0f0f0;
}

.table .left,
.table .left-1,
.table .left-2 {
  rotate: 90deg
}

.table .right,
.table .right-1,
.table .right-2 {
  rotate: 270deg
}

.game-table {
    width: 100%;
    height: 100%;
    background: darkslategray;
    padding: .5rem;
}   

.game-table .active {
    background-color: lightgoldenrodyellow;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: anchor-center;
    align-items: center;
}

.game-card,
.reveal-cards .game-card{
    width: 4.5rem;
    min-width: 4.5rem;
    height: 6rem;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align:center;
    margin: .5rem;
    background-color: white;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform .2s;
    padding: 0;
}

.game-card img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

reveal-cards-section {
    margin: 3rem 0;
}

.reveal-cards .game-card.hidden {
    opacity: 0.10;
}

.reveal-trio-cards-section .reveal-cards-section {
    margin: 4rem 0;
}

.game-card .tmp {
    position: absolute;
    top: .2rem;
    left: .2rem;
    font-size: .8rem;
    color: black;
}
.game-card.selectable:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.game-card.selected {
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.2);
}
.game-card {
    float: left;
}

.game-card.active-player {
    border-color: gold;
    box-shadow: 0 0 1.0rem gold;
}   

.reveal-cards {
    align-content: center;
}

.game-card.selectable {
    border-color: #cce3f7;
    background-color: #f3f7fa;
}  

.game-card.selected {
    border-color: #b4ffcd;
    background-color: #ceffde;
}  

.game-card.overlap {
    margin-right: -3rem;
}

.trios-container.left,
.trios-container.right {
    justify-content: center;
}

.trios-container {
    font-size: 0.8rem;
}

.trios.top,
.trios.bottom {
    min-height: 7rem;
    height: 7rem;
    width: 100%;
}

.trioSet {
    display: block;
    float: left;
    width: fit-content;
}

.trioSet .game-card {
    height: 4rem;
    width: 3rem;
    min-width: 3rem;;
    font-size: 1.5rem;
}

.trios.bottom .trioSet,
.trios.top .trioSet {
    width: fit-content;
    margin: 0 1.7rem;
}

/*
.leftSide {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.vertical .game-card {
    transform: rotate(90deg);
}   

.upper-row,
.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/