/* For smaller screens like phones, reduce the base font size */
@media screen and (min-height: 200px) and  (max-height: 500px) {
    html {
    font-size:65%; 
  }
}

@media screen and (min-height: 501px) and  (max-height: 600px) {
    html {
    font-size:80%; 
  }
}

@media screen and (min-height: 601px) and  (max-height: 700px) {
    html {
    font-size:90%; 
  }
}

@media screen and (min-height: 701px) and  (max-height: 1200px) {
    html {
    font-size:100%; 
  }
}

html, body,
#root {
  width: 100%;
  height: 100%;
}

.game-container {
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
}
