/* For smaller screens like phones, reduce the base font size */
@media screen and (min-height: 200px) and  (max-height: 600px) {
    html {
    font-size:65%; 
  }
}

@media screen and (min-height: 601px) and  (max-height: 700px) {
    html {
    font-size:70%; 
  }
}

@media screen and (min-height: 701px) and  (max-height: 800px) {
    html {
    font-size:80%; 
  }
}

@media screen and (min-height: 801px) and  (max-height: 900px) {
    html {
    font-size:90%; 
  }
}

@media screen and (min-height: 901px) and  (max-height: 1000px) {
    html {
    font-size:100%; 
  }
}

@media (pointer: coarse) { .resize-handle { width: 28px; height: 28px; } }
html, body,
#root {
  width: 100%;
  height: 100%;
}

.game-container {
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
}
